# Python Basics Assignment

This notebook contains 20 basic Python questions.  
Each question carries **1 mark**. Write your answer in the cell provided.

### Question 1
Write a function that returns the square of a number.

In [ ]:
# Your code here
def square_number_1(num):
    return num ** 2
print(square_number_1(7))

49

### Question 2
Write a function that checks whether a number is even.

In [ ]:
# Your code here
def is_even_2(num):
    return num % 2 == 0
print(is_even_2(6))  
print(is_even_2(7))

True
False

### Question 3
Write a function to return the maximum of two numbers.

In [ ]:
# Your code here
def max_of_two_3(a, b):
    return a if a > b else b
print(max_of_two_3(30, 20))

30

### Question 4
Write a function to return the factorial of a number.

In [ ]:
# Your code here
def factorial_4(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)
print(factorial_4(5))

120

### Question 5
Write a function to reverse a string.

In [ ]:
# Your code here
def reverse_string_5(s):
    return s[::-1]
print(reverse_string_5("hello"))

olleh

### Question 6
Write a function to check if a string is a palindrome.

In [ ]:
# Your code here
def is_palindrome_6(s):
    return s == s[::-1]
print(is_palindrome_6("level"))   # Output: True
print(is_palindrome_6("apple"))   # Output: False

True
False

### Question 7
Write a function to count vowels in a string.

In [ ]:
# Your code here
def count_vowels_7(s):
    return sum(1 for char in s if char in 'aeiouAEIOU')
print(count_vowels_7("helloworld"))

3

### Question 8
Write a function that returns the sum of a list.

In [ ]:
# Your code here
def sum_of_list_8(lst):
    return sum(lst)
print(sum_of_list_8([1, 2, 3, 4]))

10

### Question 9
Write a function to find the smallest number in a list.

In [ ]:
# Your code here
def find_smallest_9(lst):
    return min(lst)
print(find_smallest_9([5, 2, 3, 1]))

1

### Question 10
Write a function to remove duplicates from a list.

In [ ]:
# Your code here
def remove_duplicates_10(lst):
    return list(set(lst))
print(remove_duplicates_10([4, 5, 5, 6, 7]))

[4, 5, 6, 7]

### Question 11
Write a function to sort a list in ascending order.

In [ ]:
# Your code here
def sort_list_11(lst):
    return sorted(lst)
print(sort_list_11([5, 2, 4, 1]))

[1, 2, 4, 5]

### Question 12
Write a function that returns the length of a string.

In [ ]:
# Your code here
def string_length_12(s):
    return len(s)
print(string_length_12("hello"))  
print(string_length_12("people"))

5
6

### Question 13
Write a function to count words in a sentence.

In [ ]:
# Your code here
def count_words_13(sentence):
    return len(sentence.split())
print(count_words_13("Hello world!"))

2

### Question 14
Write a function to convert Celsius to Fahrenheit.

In [ ]:
# Your code here
def celsius_to_fahrenheit_14(celsius):
    return (celsius * 9/5) + 32
print(celsius_to_fahrenheit_14(100))

212.0

### Question 15
Write a function to check if a number is prime.

In [ ]:
# Your code here
def is_prime_15(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
print(is_prime_15(7))

True

### Question 16
Write a function to return all even numbers in a list.

In [ ]:
# Your code here
def even_numbers_16(lst):
    return [num for num in lst if num % 2 == 0]
print(even_numbers_16([1, 2, 3, 4, 5, 6]))

[2, 4, 6]

### Question 17
Write a function to return the nth Fibonacci number.

In [ ]:
# Your code here
def fibonacci_17(n):
    if n <= 1:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)
print(fibonacci_17(6))

8

### Question 18
Write a function to calculate the average of a list.

In [ ]:
# Your code here
def average_18(lst):
    return sum(lst) / len(lst) if lst else 0
print(average_18([1, 2, 3, 4, 5]))

3.0

### Question 19
Write a function that returns a dictionary of character counts.

In [ ]:
# Your code here
def char_count_19(s):
    count = {}
    for char in s:
        if char in count:
            count[char] += 1
        else:
            count[char] = 1
    return count
print(char_count_19("python"))

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

### Question 20
Write a function that returns True if all list elements are unique.

In [ ]:
# Your code here
def all_unique_20(lst):
    for i in range(len(lst)):
        if lst[i] in lst[i+1:]:
            return False
    return True
print(all_unique_20([1, 2, 3, 4]))
print(all_unique_20([1, 3, 3, 5]))

True
False